---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_zAWOvjnO0jogH2uCpd0XhDLb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_193ojLIlXNjYUpI9PWGY3QJ9",
          "object": "token",
          "card": {
            "id": "card_193ojLIlXNjYUpI9EdCyit1m",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "N6NpUsGfwhR1CgQd",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "194.44.161.176",
          "created": 1476286399,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 12 Oct 2016 15:33:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_193ojLIlXNjYUpI9PWGY3QJ9&metadata[purchase_id]=2&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+2%29
    headers:
      Authorization:
      - Bearer sk_test_zAWOvjnO0jogH2uCpd0XhDLb
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2016-10-12 18:33:18 +0300/2/2
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2016-10-12 18:33:18 +0300/2/2
      Original-Request:
      - req_9MXpTMQdRzQYp8
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_193ojMIlXNjYUpI9sG3o9GWb"
          }
        }
  recorded_at: Wed, 12 Oct 2016 15:33:20 GMT
recorded_with: VCR 3.0.3
