---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_zAWOvjnO0jogH2uCpd0XhDLb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_193ojJIlXNjYUpI9d3EVQu3T",
          "object": "token",
          "card": {
            "id": "card_193ojIIlXNjYUpI9lNtqVYVF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "CGXCv8aDkzookrOs",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "194.44.161.176",
          "created": 1476286397,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 12 Oct 2016 15:33:17 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_193ojJIlXNjYUpI9d3EVQu3T&metadata[purchase_id]=1&description=Charge+for+Ruby+Under+a+Microscope+%28Purchase+ID+1%29
    headers:
      Authorization:
      - Bearer sk_test_zAWOvjnO0jogH2uCpd0XhDLb
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2016-10-12 18:33:15 +0300/1/1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2016-10-12 18:33:15 +0300/1/1
      Original-Request:
      - req_9MXoJbJkJqMJ6r
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_193ojJIlXNjYUpI9oQCCo4Vn",
          "object": "charge",
          "amount": 299,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_193ojKIlXNjYUpI9lEJ8UYwX",
          "captured": true,
          "created": 1476286397,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby Under a Microscope (Purchase ID 1)",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "1"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_193ojJIlXNjYUpI9oQCCo4Vn/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_193ojIIlXNjYUpI9lNtqVYVF",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "CGXCv8aDkzookrOs",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Wed, 12 Oct 2016 15:33:18 GMT
recorded_with: VCR 3.0.3
