---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_zAWOvjnO0jogH2uCpd0XhDLb
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_194S7mIlXNjYUpI9e0RFPceF",
          "object": "token",
          "card": {
            "id": "card_194S7mIlXNjYUpI9k4pbKUMR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "CGXCv8aDkzookrOs",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "188.163.77.60",
          "created": 1476437830,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 14 Oct 2016 09:37:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=299&currency=USD&source=tok_194S7mIlXNjYUpI9e0RFPceF&metadata[purchase_id]=5&description=Charge+for+Ruby+on+Rails+Tutorial+%28Purchase+ID+5%29
    headers:
      Authorization:
      - Bearer sk_test_zAWOvjnO0jogH2uCpd0XhDLb
      Content-Type:
      - application/x-www-form-urlencoded
      Idempotency-Key:
      - 2016-10-14 12:37:10 +0300/10/5
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2016-10-14 12:37:10 +0300/10/5
      Original-Request:
      - req_9NCWdXngTVm1Vg
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_194S7oIlXNjYUpI9yVBKyYhX",
          "object": "charge",
          "amount": 299,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_194S7oIlXNjYUpI9Hsm1FqLb",
          "captured": true,
          "created": 1476437832,
          "currency": "usd",
          "customer": null,
          "description": "Charge for Ruby on Rails Tutorial (Purchase ID 5)",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "purchase_id": "5"
          },
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_194S7oIlXNjYUpI9yVBKyYhX/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_194S7mIlXNjYUpI9k4pbKUMR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "CGXCv8aDkzookrOs",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Fri, 14 Oct 2016 09:37:12 GMT
recorded_with: VCR 3.0.3
